/* .categoryContainer{
    width: 15%;
    margin-left: 2.5%;
    float: left;
    margin-top: 30px;
}

.categoryHeading{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
}

.categoryList{
    margin-top: 10px;
}


.categoryList li{
    list-style: none;
    margin-left: 80px;
}

.categoryList > li a{
    padding: 3px 0;
    color: black;
    display: block;
    font-size: 15px;
    text-decoration: none;
} */

/* .categoryList > li > a:hover{ */
    /* font-size: 20px;
    color: gray; */
    /* background-color:cyan;
    text-align: center;
    color: red;
    font-weight: bolder; */
/* } */
