.navbar-brand > img{
    border-radius: 25px;
    margin-right: 5px;
}


@media screen and (max-width: 770px){
    .sidebar-item{
        display: block;
    }
}

@media screen and (min-width: 770px) {
    
.sidebar-item{
    display: none;
}
}