
.BillContainer{
    width: 80%;
    margin-left: 10%;
    margin-top: 5em;
}

.textBillContainer{
    text-align: center;
    color: #d56040;
}

.dateForm input{ 
    color: #d56040;
}

@media screen and (max-width: 800px){
    .Bill{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .Bill{
        display: inline-block;
        width:50%;
    }
}

.Bill{
    vertical-align:top;
    color: #ffffff;
    padding: 2%; 
}

.BillNo, .BillTime {
    text-align: center;
    height: 2em;
    background-color: #d56040;
}

.productsQtyBill{
    width: 100%;
    background-color: #2b2621;
}

.productsHeadingBill{
    width: 73%;
    margin-left: 1em;
}

.QtyHeadingBill{
    width: 10%;
    float: right;
}

.priceHeadingBill{
    width: 15%;
    float: right;
}

.itemAndQtyBill{
    background-color: #f1f1f1;
    display: flex;
    color:#d56040;
}


.insideKotItemBill{
    width: 73%;
    margin-left: 1em;
}

.priceInsideKotItemBill{
    width: 15%;
    float: right;
}

.qtyInsideKotItemBill{
    width: 10%;
    float: right;
}

.customerDetailsHeading{
    background-color: #2b2621;
    width: 100%;
    text-align: center;
}

.customerDetails{
    background-color: #f1f1f1;
    color:#d56040;
}

.title{
    margin-left: 1em;
}

.title span{
    float: left;
    width: 60px;
}

.status{
    display: flex;
    width: 100%;
    background-color: #2b2621;
}

.UserorderStatus{
    width: 50%;
    margin-left: 1em;
    text-align: left;
}
.currentStatus{
    margin-right: 1.4em;
    width: 50%;
    text-align: right;
}

/* css for date */
label {
    display: flex;
    align-items: center;
  }
  
  span::after {
    padding-left: 5px;
  }
  
  input:invalid + span::after {
    content: '✖';
  }
  
  input:valid+span::after {
    content: '✓';
  }