.carousel{
    margin-top: 8em;
    color:black;
    text-align: center;
    background-color: #7a6471;
}

@media screen and (max-width: 800px) {
    .carousel{
        width: 90%;
        height: 15.5em;
        margin-left: 5%;
    }

    .carousel img{
        height: 12.5em;
    }
}

@media screen and (min-width: 800px) {
    .carousel{
        width: 60%;
        height: 28.125em;
        margin-left: 20%;
    }

    .carousel img{
        height: 25em;

    }
}