
.billKotContainer{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2em;
}

@media screen and (max-width: 600px){
    .billKot{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .billKOT{
        display: inline-block;
        width:45%;
    }
}

.billKOT{
    vertical-align:top;
    color: #ffffff;
    padding: 2%; 
}

.billKotBill, .billKotTime {
    text-align: center;
    height: 2em;
    background-color: green;
}

.billproductsQty{
    width: 100%;
    background-color: #4d4d4d;
}

.billproductsHeading{
    margin-left: 1em;
    width: 73%;
}

.billQtyHeading{
    float: right;
    width: 10%;
}

.billpriceHeadingBill{
    float: right;
    width: 15%;
}

.billitemAndQty{
    background-color: gray;
    display: flex;
}

.billinsideKotItem{
    width: 73%;
    margin-left: 1em;
}

.priceInsideKotItemBill{
    width: 15%;
    float: right;
}

.billqtyInsideKotItem{
    width: 10%;
    float: right;
}

.billcustomerDetailsHeading{
    background-color: #4d4d4d;
    width: 100%;
    text-align: center;
}

.billcustomerDetails{
    background-color: gray;
    display: flex;
}

.billtitle{
    margin-left: 1em;
}

.billtitle span{
    float: left;
    width: 60px;
}

.billorderStatus{
    width: 60%;
    height: 2em;
    border-style: none;
    background-color: lightgrey;
}
.billstatusBtn{
    height: 2em;
    width: 40%;
    border-style: none;
    background-color: lightgrey;
}