
.KotContainer{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2em;
}

@media screen and (max-width: 600px){
    .Kot{
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .KOT{
        display: inline-block;
        width:33%;
    }
}

.KOT{
    vertical-align:top;
    color: #ffffff;
    padding: 2%;
}

.KotBill, .KotTime {
    text-align: center;
    height: 2em;
    background-color: green;
}

.productsQty{
    width: 100%;
    background-color: #4d4d4d;
}

.productsHeading{
    margin-left: 1em;
}

.QtyHeading{
    float: right;
    margin-right: 0.8em;
}

.itemAndQty{
    background-color: gray;
    display: flex;
}

.insideKotItem{
    width: 88%;
    margin-left: 1em;
}

.qtyInsideKotItem{
    width: 10%;
    float: right;
}

.orderStatus{
    width: 60%;
    height: 2em;
    border-style: none;
    background-color: lightgrey;
}
.statusBtn{
    height: 2em;
    width: 40%;
    border-style: none;
    background-color: lightgrey;
}