.cartItemContainer{
    margin-top: 8em;
    width: 80%;
    margin-left: 10%;
    display: block;
    border: 1px solid #cecece;
    margin-bottom: 4em;
    background-color: #f1f1f1;
}

.emptyCart{
    background-color: #e0dbdb;
    text-align: center;
    color: #d56040;
    padding: 10px;
    box-shadow:3px 3px 10px 6px gray; 
}

.emptyCart .add{
    color: #2b2621;
    font-size: 2em;
    cursor:pointer
}

.emptyCart .add:hover{
    color: #d56040;
}

.firstContent{
    width: 80%;
    height: 2.5em;
    text-align:center;
    margin-left: 10%;
}

.firstContent h5{
    margin-top: 0.5em;
}

.cartHeader{
    display: flex;
} 

.rightPart{
    background-color: rgb(230, 230, 230);
    border:1px solid #2b2621;
    box-shadow: 5px 0 5px 5px rgb(194, 194, 194);
    width: 30%;
    text-align: center;
    display:table-cell;
    color: #d56040;
} 

.rightPartHeader{
    border-bottom: 1px solid #2b2621;
    width: 100%;
    height: 2.5em;
}

.rightPartBody{
    width: 100%;
}

.itemCount, .Delivery, .itemPrice{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.itemCountOne, .DeliveryOne, .itemPriceOne{
    width: 50%;
    text-align: left;
}

.itemCountTwo, .DeliveryTwo, .itemPriceTwo{
    width: 50%;
    text-align: right;
}

.addMore{
    text-align: center;
    background-color: gray;
}

.addMore button{
    border:none;
    background-color: #d56040;
    padding:5px 10px;
    
}

.addMore button:hover{
    background-color: rgb(49, 0, 226);
    color:#4d4d4d;
}