
.cartItems{
   width: 95%;
   margin-left: 2.5%;
   margin-top: 1em;
   color: #d56040;
}

.cartItemsDetails{
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 1.25em;
    
}

.cartProImgContainer{
    width: 10em;
    height: 6em;
    overflow: hidden;
    margin-bottom: 5px;
}

.cartProImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartProDeliveryContainer{
    text-align: right;
}

.cartHeader{
    border: 1px solid #cecece;
    display: flex;
    background-color: #d56040;
    color:#ffffff;
}

.firstContent{
    width: 50%;
    height: 2.5em;
    float: left;
    text-align:left;
    margin-left: 1.25em;
}

.secondContent{
    width: 50%;
    float: right;
    height: 2.5em;
    margin-right: 1.25em;
    text-align:right; 
}

/* quantity control css */

.quantityControl{
    display: flex;
}

.btnControl{
    margin-left: -0.5em;
}


.quantityControl input{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    text-align: center;
    color: #d56040;
    font-size: 1.2em;
    font-weight: bolder;
}

.quantityControl button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    border: none;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    color: #d56040;
    font-size: 1.2em;
    font-weight: bolder;
}

.quantityControl button:hover{
    font-size: 1.1em;
}

/* action button css */
.cartActionBtn{
    font-family: 'Roboto';
    font-weight: 600px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #2b2621;
    cursor: pointer;
    font-size: 1em;
    margin: -0.5em 0 10px;
}

.cartActionBtn:hover{
    font-size: 0.95em;
    color: #d56040;
}