*{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin-top: 0; 
    padding-top: 0; 
    margin-bottom: 0; 
    padding-bottom: 0;
}

body{
    background: #ffffff;
}

.App{
    min-height: calc(100vh - 150px - 72px);
}


@media screen and (max-width: 600px){
    .flexRow{
        display: block;
    }
}
@media screen and (min-width: 600px){
    .flexRow{
        display: flex;
    }
}

.sb{
    justify-content: space-between;
}
