
@media screen and (max-width: 770px){
    .sidebar{
        display: none;
    }
}

@media screen and (min-width: 770px) {
    .sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        left:0;
        background-color:rgb(173, 173, 173);
        padding-top: 60px;
        box-shadow: inset 0 0 2px gray;
    }
}

.sidebar ul{
    margin-top: 1.5em;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    display: block;
    color: #2b2621;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
}

.sidebar ul li a.active{
    background: #d56040;
    color: #fff;
}